/* .active10 {
  opacity: 0.46;
} */

#atas {
  display: none;
}

#bawah {
  display: none;
}

#atas.active {
  display: initial;
}

#bawah.active {
  display: initial;
}

#navigate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 46px;
  margin-bottom: 46px;
  padding-right: 80px;
  padding-left: 80px;
}

#navigate div {
  padding: 10px 0 10px;
  /*border: 4px solid black;
  */
  width: 46%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  border: 1px solid #167d7f;
}

#navigate div img {
  width: 100px;
  height: 100px;
}

#navigate div h4 {
  font-size: 36px;
}

#navigate #btn-atas {
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navigate #btn-bawah {
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navigate #btn-atas:hover,
#navigate #btn-bawah:hover {
  background-color: #167d7f;
}

#navigate #btn-atas:hover img,
#navigate #btn-bawah:hover img {
  filter: invert(1);
  -webkit-filter: invert(1);
}

#navigate #btn-atas:hover h4,
#navigate #btn-bawah:hover h4 {
  color: #fff;
}

/* #navigate #btn-atas.active-btn {}

#navigate #btn-bawah.active-btn {} */

#product-details {
  background: white;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 9999999999999999999999999999;
}

#product-details .preview {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  margin: 50px;
  display: none;
  padding: 2rem;
  text-align: center;
  background: #fff;
  width: 100%;
  overflow: scroll;
}

#product-details .preview.active {
  display: flex;
}

#product-details .preview .x-man {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: #000;
  font-size: 46px;
}

#product-details .preview .single-product-img {
  display: flex;
  flex-wrap: wrap;
  margin-right: 50px;
  width: 40%;
}

#product-details .preview .single-product-img img {
  width: 100%;
  height: 100%;
}

#product-details .preview .single-product-img .big-img {
  width: 100%;
  height: 76%;
}

#product-details .preview .single-product-img .big-img .big-img-slide {
  display: none;
}

#product-details .preview .single-product-img .big-img .big-img-slide.active10 {
  display: initial;
}

#product-details .preview .single-product-img .small-img-group {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#product-details .preview .single-product-img .small-img-group .small-img-col {
  cursor: pointer;
  flex-basis: 24%;
}

#product-details .preview .single-product-img .small-img-group .small-img-col.active10 {
  opacity: 0.2;
}

#product-details .preview .single-product-details {
  text-align: left;
  padding-top: 30px;
  width: 50%;
}

#product-details .preview .single-product-details h4 {
  padding: 40px 0 20px 0;
}

#product-details .preview .single-product-details h2 {
  font-size: 26px;
}

#product-details .preview .single-product-details select {
  padding: 5px 10px;
  display: block;
  margin-bottom: 10px;
}

#product-details .preview .single-product-details select option[value=""][disabled] {
  display: none;
}

#product-details .preview .single-product-details option {
  color: #000;
}

#product-details .preview .single-product-details input {
  height: 47px;
  width: 50px;
  font-size: 16px;
  margin-right: 10px;
  padding-left: 10px;
}

#product-details .preview .single-product-details input:focus {
  outline: none;
}

#product-details .preview .single-product-details button {
  color: #fff;
  background: #167d7f;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}

#product-details .preview .single-product-details button:hover {
  color: #000;
  background: #fff;
}

#product-details .preview .single-product-details span {
  line-height: 25px;
}

/* Responsive 1 */

@media (max-width: 900px) {
  #product-details .preview {
    margin: 0;
  }

  #navigate {
    padding-right: 60px;
    padding-left: 60px;
  }
}

/* Akhir responsive 1 */

/* Responsive 1 */

@media (max-width: 800px) {
  #product-details .preview {
    height: 80vh;
    width: 100%;
    margin: 0;
    justify-content: center;
    flex-direction: column;
    right: 0px;
    left: 0px;
    padding-top: 636px;
    padding-left: 46px;
    padding-right: 46px;
  }

  #product-details .preview .x-man {
    position: absolute;
    top: 0.6rem;
    right: 0.8rem;
    cursor: pointer;
    font-size: 36px;
  }

  #product-details .preview .single-product-img {
    margin-right: 0;
    width: 100%;
  }

  #product-details .preview .single-product-details {
    width: 100%;
  }
}

/* Akhir responsive 1 */

/* Responsive 2 */

@media (max-width: 700px) {
  #product-details .preview {
    padding-top: 586px;
    padding-left: 46px;
    padding-right: 46px;
  }

  #navigate div h4 {
    font-size: 32px;
  }
}

/* Akhir responsive 2 */

/* Responsive 3 */

@media (max-width: 600px) {
  #product-details .preview {
    padding-top: 500px;
  }
}

/* Akhir responsive 3 */

/* Responsive 4 */

@media (max-width: 500px) {
  #navigate {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #navigate div {
    width: 100%;
    margin: 10px;
  }
}

/* Akhir responsive 4 */